<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title><%= current_page.data.title || "Codemy" %></title>
    <link rel="shortcut icon" href="../images/favicon.png">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;subset=latin,latin-ext">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="nav-side site-loaded <%= page_classes %>">
    <div class="site">
      <!-- SVGs -->
      <%= partial 'icons' %>
      <!-- HEADER -->
      <%= partial 'header' %>
      <%= yield %>
    </div>
  </body>
</html>