<header class="site-header">
  <a href="index.html" class="site-logo">
    <%= image_tag 'codemy-logo.png', width: '50', height: '50' %>
  </a>

  <nav class="nav-menu" role="navigation">
    <ul>
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'Team', '/team' %></li>
      <li><%= link_to 'Work', '/work' %></li>
      <li><%= link_to 'Learn', 'http://learn.codemy.net' %></li>
      <li><%= link_to 'Contact', '/contact' %></li>
    </ul>
  </nav>

  <button class="nav-toggle">
    <svg>
      <use xlink:href="#shape-nav"></use>
    </svg>
  </button>

  <ul class="nav-social">
    <li>
      <% link_to 'http://facebook.com/codemy.net' do %>
        <i class="fa fa-facebook"></i>
      <% end %>
    </li>
    <li>
      <% link_to 'https://twitter.com/codemynet' do %>
        <i class="fa fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <% link_to 'https://www.youtube.com/user/codemynet' do %>
        <i class="fa fa-youtube"></i>
      <% end %>
    </li>
  </ul>
</header>