---
title: We Build Amazing Products
---


<div id="rev-slider-1-wrapper" class="rev_slider_wrapper fullwidthbanner-container background--dark" style="background-color: #e6e6e6;">
  <div id="rev-slider-1" class="rev_slider fullwidthabanner" style="display:none;">
    <ul>
      <li data-transition="fade">
        <!-- MAIN IMAGE -->
        <%= image_tag 'background.jpg', alt: 'slidebg1', :'data-bgposition' => 'center top', :'data-bgfit' => 'cover', :'data-bgrepeat' => 'no-repeat', :'data-lazyload' => asset_url('images/background.jpg') %>

        <!-- Big text -->
        <div class="tp-caption rev-heading-lg text-center style-2 text-upper lfb"
          data-x="center"
          data-y="center" data-voffset="-195"
          data-speed="1000"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
          May the force
        </div>

        <div class="tp-caption rev-heading-lg text-center style-2 text-upper lfb"
          data-x="center"
          data-y="center" data-voffset="-115"
          data-speed="1000"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
          be with you
        </div>

        <div class="tp-caption rev-heading-sm style-2 text-center lfb tp-resizeme"
          data-x="center"
          data-y="center" data-voffset="-32"
          data-speed="1000"
          data-start="1000"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
          Dropout is a design driven Multi-Purpose theme<br/>with amazing user experience.
        </div>
      
        <!-- Purchase button -->
        <a class="tp-caption lfb style-2 btn btn-lg"
          data-x="center"
          data-y="center" data-voffset="67"
          data-speed="1000"
          data-start="1400"
          data-easing="Power3.easeInOut"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 8;">
          Purchase now
        </a>

        <!-- Galaxy 1 -->
        <div class="tp-caption lfb rs-parallaxlevel-2"
          data-x="center" data-hoffset="-500"
          data-y="center" data-voffset="150"
          data-speed="1000"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
          <%= image_tag 'galaxy-1.png', alt: 'Galaxy 1' %>
        </div>

        <!-- Galaxy 2 -->
        <div class="tp-caption lfb rs-parallaxlevel-1"
          data-x="center" data-hoffset="400"
          data-y="center" data-voffset="200"
          data-speed="1000"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
          <%= image_tag 'galaxy-2.png', alt: 'Galaxy 2' %>
        </div>

        <!-- Galaxy 3 -->
        <div class="tp-caption lfb rs-parallaxlevel-4"
          data-x="center" data-hoffset="400"
          data-y="center" data-voffset="-300"
          data-speed="1000"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
          <%= image_tag 'galaxy-3.png', alt: 'Galaxy 3' %>
        </div>

      </li>
    
      <li data-transition="fade">
        <!-- MAIN IMAGE -->
        <%= image_tag 'background.jpg', alt: 'slidebg1', :'data-bgposition' => 'center top', :'data-bgfit' => 'cover', :'data-bgrepeat' => 'no-repeat', :'data-lazyload' => asset_url('images/background.jpg') %>

        <!-- Big text -->

        <div class="tp-caption rev-heading-lg text-center style-2 text-upper lfb"
          data-x="center"
          data-y="center" data-voffset="-195"
          data-speed="1000"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
          Get Dropout
        </div>

        <div class="tp-caption rev-heading-lg text-center style-2 text-upper lfb"
          data-x="center"
          data-y="center" data-voffset="-115"
          data-speed="1000"
          data-start="1200"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
          Define yourself
        </div>

        <div class="tp-caption rev-heading-sm style-2 text-center lfb tp-resizeme"
          data-x="center"
          data-y="center" data-voffset="-32"
          data-speed="1000"
          data-start="1000"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
          Dropout is a design driven Multi-Purpose theme<br/>with amazing user experience.
        </div>
      
        <!-- Purchase button -->
        <a class="tp-caption lfb style-2 btn btn-lg"
          data-x="center"
          data-y="center" data-voffset="67"
          data-speed="1000"
          data-start="1400"
          data-easing="Power3.easeInOut"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          style="z-index: 8;">
          Buy this Theme
        </a>
      </li>
    </ul>
  </div>
</div>